# Database Configuration
DB_HOST=localhost
DB_PORT=3307
DB_USER=ecommerce
DB_PASSWORD=ecommerce
DB_NAME=ecommerce_dev
DB_NAME_TEST=ecommerce_test

# Server Configuration
PORT=3000
NODE_ENV=development